ion-card {
  margin: 0;
  border-radius: 0;
  box-shadow: none;
  -webkit-box-shadow: none;

  ion-card-header {
    display: flex;
    display: -webkit-inline-box;
    align-items: center;
    -webkit-box-align: center;
    gap: 10px;
    top: 15px;

    img {
      width: 40px;
      border-radius: 50%;
    }
  }

  .username {
    font-weight: 400;
    font-size: 20px;
  }

  .icons {
    display: flex;
    display: -webkit-inline-box;
    align-items: center;
    -webkit-box-align: center;
    gap: 20px;
    

    ion-icon {
      font-size: 30px;
      color: black;
    }
  }
  .save {
    color: black;
    font-size: 30px;
    justify-content: space-between;
    width: 740px;
    position: relative;
    top: -37px;

  }
  .points{
    font-size: 30px;
    color: black;
    position: absolute;
    left: 360px;
    top: -35px;
  }
  .desc {
    color: black;
    position: absolute;
    top: 610px;
  }
  }


