<ion-card>
  <ion-card-header>
    <img src="../../assets/unnamed.jpg" alt="">
    <div class="username">
      Kelvin_09
    </div>
  </ion-card-header>

  <ion-card-content>
    <ion-icon class="points" name="ellipsis-horizontal"></ion-icon>
    <img alt="Silhouette of mountains" src="https://pbs.twimg.com/media/Gg4R409W0AAkoU_?format=jpg&name=large" />
    <div class="icons">
      <ion-icon name="heart-circle-outline"></ion-icon>
      <ion-icon name="chatbubble-outline"></ion-icon>
      <ion-icon name="arrow-redo-outline"></ion-icon>
    </div>
    <ion-icon class="save" name="bookmark-outline"></ion-icon>
    <div class="desc">
      Campeão do mundo! 🇧🇷🏆
    </div>
  </ion-card-content>

</ion-card>